.cursor_pointer { cursor: pointer }
.position-r { position: relative; }

/* Modal */
.modal_wrapper { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 100 }
.modal_bg { width: 100%; height: 100%; background-color: black; opacity: 0.7 }
.modal_content { position: absolute; background-color: white; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); padding: 20px; border-radius: 20px; }
.modal_content img { width: 48px; height: 48px; }
.modal_content img.sensor_image { width: unset; height: unset; }

@media screen and (max-width: 599px) {
  .modal_content_width_30 { width: auto; }
  .modal_content_width_70 { width: auto; }
  .modal_content_width_90 { width: auto; }
}

@media screen and (max-width: 899px) {
  .modal_content { width: 100%; border-radius: 0; height: 100%; }
}

/* Margin */
.mt-30 { margin-top: 120px; }
.mt-40 { margin-top: 160px; }
.mt-50 { margin-top: 200px; }

.status_card_wrap { position: relative; }
.status_card { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  transition: .3s;}
.status_card_wrap:hover .status_card { position: absolute; width: 120% ; max-width: 120% !important; background: rgba(255, 255, 255); color: #333; z-index: 1;  }
.image_wrap { text-align: center; }
.image_wrap img { width: 40%; }
.image_wrap img.good { filter: invert(75%) sepia(33%) saturate(750%) hue-rotate(42deg) brightness(91%) contrast(84%); }
.image_wrap img.bad { filter: invert(20%) sepia(85%) saturate(2583%) hue-rotate(346deg) brightness(101%) contrast(86%); }
.image_wrap img.null { filter: invert(60%) !important; }

.sensor_type_img { filter: invert(75%) sepia(33%) saturate(750%) hue-rotate(42deg) brightness(91%) contrast(84%); opacity: 0; }
.sensor_type_img:nth-of-type(2) { margin-left: 4px; }
.sensor_type_img.show { opacity: 1; }